:root {
  --themeColor: #6C63FF;
}

/********************************LANDING****************************/

.taglineContainer {
  margin-top: 5vh !important; /* Materail UI was overriding it without the !important tag */
}

.taglineContainer h1 {
  font-family: "Montserrat";
  line-height: 1;
  font-size: 3rem;
}

.themeButton {
  background-color: var(--themeColor) !important;
  color: white !important;
  font-weight: bold !important;
}

.taglineContainer  .themeButton, #googleSignInButton {
  margin-top: 5vh;
}

/**********************************AUTH*****************************/

#googleSignInButton {
  background-color: red;
  color: white;
  font-weight: bold;
  margin-right: 5vw;
}

/**********************************DAYS*****************************/

#dayHeader {
  background-color: var(--themeColor);
  height: 23vh;
  color: white;
  padding: 10px;
}

#dayBody {
  height: 70vh;
  background-color: #DDD;
}

#dayPicker {
  background-color: #333;
  color: white;
  height: 70vh;
}

.day {
  border: 2px solid white;
  border-radius: 5px;
  height: 10%;
}
.day:hover {
  background-color: #555;
}

#addActivityContainer {
  background-color: white;
  height: 10vh;
  padding: 5px;
  margin-bottom: 2vh;
}

#addActivityBtn {
  height: 100%;
  width: 100%;
}

.dayActivity {
  background-color: white;
  height: 7vh;
  padding: 5px;
  margin-bottom: 2px !important;
  border-radius: 0 0 0 10px;
}