#dayHeader {
  background-color: darkcyan;
  height: 25vh;
}

#dayBody {
  height: 70vh;
  background-color: #DDD;
}

#calendar {
  background-color: #333;
  color: white;
}

#addActivityContainer {
  background-color: white;
  height: 10vh;
  padding: 5px;
  margin-bottom: 2vh;
}

#addActivityBtn {
  height: 100%;
  width: 100%;
}

.dayActivity {
  background-color: white;
  height: 7vh;
  margin-bottom: 2px;
}